.container{
position:relative;
    width:100%;
    height:auto%;
    
}

.screen{
    position: relative;
z-index:-2;
    max-width: 80%;
}

.green,.blue,.purple,.pink,.red,.orange,.yellow,.lightgreen{
    position:absolute;
    align-content: center;
max-width: 75%;
height:auto;
    z-index: -1;
    top:-15%;
     left:0;
    right:0;
        margin:auto;
    
}
.nothing_hat,.cowboy,.lincoln,.chef,.wizard,.witch,.grad,.spin,.pirate{
position:absolute;
max-width: 75%;
    width:100%;
    text-align: center;
height:auto;
    z-index: 1;
  left:0;
    right:0;
        margin:auto;
    top:-15%;
   
    
    
   
}

.smile,.frown,.lips,.side,.tongue,.teeth,.stache{
position:absolute;
max-width: 75%;
height:auto;
    z-index: 1;
     left:0;
    right:0;
        margin:auto;
     top:-15%;
    
}
    
    .nothing,.tie,.bowtie,.pin,.gold,.pitchfork,.sash,.tattoo{
position:absolute;
max-width: 75%;
height:auto;
    z-index: 1;
     left:0;
    right:0;
        margin:auto;
     top:-15%;
  
}
.buttons{
position:absolute;
   width: 100%;
    height: 5%;
    z-index: 2;
    align-content: center;
   
}

header{
    display:block;
        width:100%;
        max-height:15%;
    text-align: center;
    font-size: 40;
    
    	
}





body{
font-family:"Conformity", sans-serif;
text-align: center;
color: #156405 ;
background-color: #4CFF38;
    margin-top: 1%;
  margin-right: 0%;
      margin-left: 0%;
}

.myButton_color {
    
	-moz-box-shadow: 6px 3px 0px 0px #A3317B;
	-webkit-box-shadow: 6px 3px 0px 0px #A3317B;
	box-shadow: 6px 3px 0px 0px #A3317B;
	background-color:#6C0046;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:2px solid #390025;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:"conformity";
	font-size:25px;
	padding:25px 20px;
	text-decoration:none;
	
}
.myButton_color:hover {
	background-color:#B00071;
}
.myButton_color:active {
	position:relative;
	top:2px;
    
}

.myButton_lips {
	-moz-box-shadow: 6px 3px 0px 0px #A3317B;
	-webkit-box-shadow: 6px 3px 0px 0px #A3317B;
	box-shadow: 6px 3px 0px 0px #A3317B;
	background-color:#6C0046;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:2px solid #390025;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:"conformity";
	font-size:25px;
	padding:25px 15px;
	text-decoration:none;
	
}
.myButton_lips:hover {
	background-color:#B00071;
}
.myButton_lips:active {
	position:relative;
	top:2px;
    
}

.myButton_outfit {
	-moz-box-shadow: 6px 3px 0px 0px #A3317B ;
	-webkit-box-shadow: 6px 3px 0px 0px #A3317B;
	box-shadow: 6px 3px 0px 0px #A3317B;
	background-color:#6C0046;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:2px solid #390025;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:"conformity";
	font-size:25px;
	padding:25px 16px;
	text-decoration:none;
	
}
.myButton_outfit:hover {
	background-color:#B00071;
}
.myButton_outfit:active {
	position:relative;
	top:2px;
    
}
.myButton_hat {
	-moz-box-shadow: 6px 3px 0px 0px #A3317B;
	-webkit-box-shadow: 6px 3px 0px 0px #A3317B;
	box-shadow: 6px 3px 0px 0px #A3317B;
	background-color:#6C0046;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:2px solid #390025;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:"conformity";
	font-size:25px;
	padding:25px 25px;
	text-decoration:none;
	
}
.myButton_hat:hover {
	background-color:#B00071;
}
.myButton_hat:active {
	position:relative;
	top:2px;
    
}